# Web_scraping with Selenium

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.

In [1]:
#first we will install required libraries

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\rahul\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: sortedcontainers in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\rahul\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\rahul\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rahul\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rahul\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [4]:
driver = webdriver.Edge(executable_path = "C:\\Users\\Rahul\\Documents\\edgedriver_win64\\msedgedriver.exe")

In [5]:
driver.get('https://www.naukri.com/')

In [6]:
designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping location

location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scpaing company name

company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping expirence required

experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [13]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'exp_required':experience_required})

In [14]:
df

,job_title,job_location,company_name,exp_required
0,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",Latentview,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
2,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Kolkata, Hyderabad/Secunderabad, Pune, Bangalo...",Cognizant,3-8 Yrs
3,Call For Clinical Data Analyst - Hyd/Bangalore...,"Kolkata, Hyderabad/Secunderabad, Pune, Bangalo...",Cognizant,6-9 Yrs
4,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
5,HR Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,3-6 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Klub,2-5 Yrs
7,Sr. SAP Hana Data Analyst,Bangalore/Bengaluru,Anicalls,5-10 Yrs
8,Business Execution (Data and Reporting Analyst),Bangalore/Bengaluru,Wells Fargo,6-11 Yrs
9,Data Analyst,"Mangaluru/Mangalore, Pune, Bangalore/Bengaluru...","Coresight Research, Inc.",4-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [3]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [15]:
driver = webdriver.Edge(executable_path = "C:\\Users\\Rahul\\Documents\\edgedriver_win64\\msedgedriver.exe")

In [16]:
driver.get('https://www.naukri.com/')

In [17]:
designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [18]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [19]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [20]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [21]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping location

location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scpaing company name

company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping expirence required

experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [22]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'exp_required':experience_required})

In [23]:
df

,job_title,job_location,company_name,exp_required
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Data Science Manager,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Mphasis,9-14 Yrs
3,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
4,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech,5-9 Yrs
5,Data Scientist,"New Delhi, Pune, Gurgaon/Gurugram, Bangalore/B...",ZS Associates,5-8 Yrs
6,Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tech Mahindra,10-14 Yrs
7,Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,5-10 Yrs
8,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
9,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart,3-7 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage
    You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [2]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [103]:
driver = webdriver.Edge(executable_path = "C:\\Users\\Rahul\\Documents\\edgedriver_win64\\msedgedriver.exe")

In [104]:
driver.get('https://www.naukri.com/')

In [105]:
designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [106]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [107]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [108]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [109]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
                                

    
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)
    
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [110]:
print(len(job_title),len(job_location),len(experience_required),len(job_location))

10 10 10 10

In [208]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,"Mongodb Database Administrator, Maria DB or Ca...","Delhi / NCR, Hyderabad/Secunderabad, Pune, Che...",Mphasis,9-14 Yrs
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
2,Data Scientist,"Delhi / NCR, New Delhi, Pune, Gurgaon/Gurugram...",ZS Associates,5-8 Yrs
3,Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,5-10 Yrs
4,Opportunity For Senior Data Scientist/ Busines...,"Delhi / NCR, Gurgaon/Gurugram, Bangalore/Benga...",PayU,4-6 Yrs
5,Exciting opportunity For model monitoring/mode...,"Delhi / NCR, New Delhi, Gurgaon/Gurugram, Bang...",EXL,4-7 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",EXL,4-7 Yrs
7,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
8,Data Scientist: Advanced Analytics,Gurgaon/Gurugram,IBM,3-7 Yrs
9,ACN - Applied Intelligence - Data & Insights -...,Gurgaon/Gurugram,Accenture,4-6 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [29]:
driver = webdriver.Edge(executable_path = "C://Users//Rahul//Documents//edgedriver_win64//msedgedriver.exe")

In [30]:
driver.get("https://www.flipkart.com/")

In [31]:
search_feild_designation=driver.find_element(By.CLASS_NAME,"_3704LK")
search_feild_designation.send_keys('sunglasses')

In [32]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [33]:
fp_brand =[]
fp_description=[]
fp_price=[]

In [34]:
brand_tag=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_tag[0:40]:
    brand=i.text
    fp_brand.append(brand)
    
description_tag=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in description_tag[0:40]:
    descr=i.text
    fp_description.append(descr)
    
price_tag=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in price_tag[0:40]:
    price=i.text
    fp_price.append(price)

In [35]:
print(len(fp_brand),len(fp_description),len(fp_price))

40 40 40

In [36]:
import pandas as pd

In [37]:
df=pd.DataFrame({'fp_brand':fp_brand,'fp_description':fp_description,'fp_price':fp_price})

In [38]:
df

,fp_brand,fp_description,fp_price
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799
1,SHAAH COLLECTIONS,UV Protection Round Sunglasses (54),₹179
2,LIZA ANGEL,UV Protection Wayfarer Sunglasses (Free Size),₹199
3,SHAAH COLLECTIONS,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹179
4,MODE,UV Protection Aviator Sunglasses (Free Size),₹179
5,PIRASO,UV Protection Aviator Sunglasses (54),₹237
6,SHAAH COLLECTIONS,UV Protection Aviator Sunglasses (54),₹179
7,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283
8,PIRASO,UV Protection Aviator Sunglasses (58),₹305
9,SHAAH COLLECTIONS,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹179
10,PIRASO,UV Protection Rectangular Sunglasses (52),₹246
11,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹599
12,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719
13,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719
14,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹561
15,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264
16,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹679
17,NuVew,"UV Protection, Mirrored Aviator Sunglasses (57)",₹198
18,SHAAH COLLECTIONS,UV Protection Round Sunglasses (52),₹179
19,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹699
20,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639
21,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",₹279
22,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,169"
23,NuVew,UV Protection Wayfarer Sunglasses (57),₹185
24,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹869
25,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759
26,SHAAH COLLECTIONS,UV Protection Aviator Sunglasses (Free Size),₹179
27,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹899
28,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹195
29,shah collections,UV Protection Wayfarer Sunglasses (56),₹179
30,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹759
31,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹199
32,SRPM,UV Protection Wayfarer Sunglasses (50),₹225
33,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹699
34,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,039"
35,ROYAL SON,Mirrored Aviator Sunglasses (55),₹339
36,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759
37,IDEE,UV Protection Aviator Sunglasses (58),"₹1,899"
38,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹669
39,ROYAL SON,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹524

In [39]:
#NEXT PAGE

In [45]:
next_page=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
next_page.click()

In [46]:
fp_brand=[]
fp_description=[]
fp_price=[]

In [47]:
brand_tag=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_tag[0:40]:
    brand=i.text
    fp_brand.append(brand)
    
description_tag=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in description_tag[0:40]:
    descr=i.text
    fp_description.append(descr)
    
price_tag=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")    
for i in price_tag[0:40]:
    price=i.text
    fp_price.append(price)

In [48]:
print(len(fp_brand),len(fp_description),len(fp_price))

40 40 40

In [49]:
df=pd.DataFrame({'fp_brand':fp_brand,'fp_description':fp_description,'fp_price':fp_price})

In [50]:
df

,fp_brand,fp_description,fp_price
0,ROYAL SON,Mirrored Aviator Sunglasses (55),₹339
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹699
2,IDEE,UV Protection Aviator Sunglasses (58),"₹1,899"
3,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹669
4,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹299
5,ROYAL SON,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹524
6,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (62)",₹538
7,SHAAH COLLECTIONS,UV Protection Round Sunglasses (52),₹179
8,IDEE,"Gradient, UV Protection Aviator Sunglasses (58)","₹2,250"
9,IDEE,UV Protection Wayfarer Sunglasses (18),"₹1,059"
10,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)",₹999
11,PIRASO,UV Protection Wayfarer Sunglasses (55),₹237
12,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹219
13,ROYAL SON,"Polarized, UV Protection Wayfarer, Retro Squar...",₹524
14,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹639
15,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,039"
16,SHAAH COLLECTIONS,UV Protection Wayfarer Sunglasses (54),₹179
17,GANSTA,UV Protection Retro Square Sunglasses (53),₹202
18,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649
19,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹249
20,PIRASO,UV Protection Aviator Sunglasses (54),₹237
21,GANSTA,"Gradient, UV Protection Aviator Sunglasses (57)",₹272
22,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719
23,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719
24,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹213
25,Fastrack,UV Protection Aviator Sunglasses (57),₹637
26,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹399
27,Fastrack,UV Protection Sports Sunglasses (63),₹809
28,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹999
29,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹339
30,Ray-Ban,"Mirrored, UV Protection Aviator Sunglasses (58)","₹5,029"
31,IDEE,"Gradient, UV Protection Aviator Sunglasses (58)","₹1,299"
32,IDEE,UV Protection Cat-eye Sunglasses (20),"₹1,309"
33,VINCENT CHASE,"Polarized, UV Protection Retro Square Sunglass...",₹899
34,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269
35,ROYAL SON,Polarized Rectangular Sunglasses (60),₹524
36,ROYAL SON,Mirrored Aviator Sunglasses (55),₹339
37,PIRASO,UV Protection Wayfarer Sunglasses (32),₹237
38,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹899
39,Fastrack,UV Protection Retro Square Sunglasses (54),₹629

In [55]:
#NEXT PAGE

In [56]:
next_page1=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
next_page1.click()

In [57]:
fp_brand=[]
fp_description=[]
fp_price=[]

In [59]:
brand_tag=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_tag[0:20]:
    brand=i.text
    fp_brand.append(brand)
    
description_tag=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in description_tag[0:20]:
    descr=i.text
    fp_description.append(descr)
    
price_tag=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in price_tag[0:20]:
    price=i.text
    fp_price.append(price)

In [60]:
print(len(fp_brand),len(fp_description),len(fp_price))

20 20 20

In [61]:
df=pd.DataFrame({'fp_brand':fp_brand,'fp_description':fp_description,'fp_price':fp_price})

In [62]:
df

,fp_brand,fp_description,fp_price
0,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹999
1,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹639
2,PIRASO,UV Protection Over-sized Sunglasses (65),₹383
3,Fastrack,UV Protection Sports Sunglasses (Free Size),₹719
4,Mi,Polarized Aviator Sunglasses (Free Size),₹799
5,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹799
6,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449
7,ROYAL SON,Polarized Rectangular Sunglasses (60),₹538
8,NuVew,"UV Protection, Mirrored Sports Sunglasses (62)",₹345
9,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹329
10,IDEE,UV Protection Over-sized Sunglasses (57),"₹1,009"
11,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)",₹699
12,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹213
13,Fastrack,UV Protection Wrap-around Sunglasses (63),₹710
14,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...",₹799
15,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹849
16,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹369
17,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹759
18,SHAAH COLLECTIONS,UV Protection Round Sunglasses (53),₹179
19,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)",₹999

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [63]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [75]:
driver = webdriver.Edge(executable_path = "C:\\Users\\Rahul\\Documents\\edgedriver_win64\\msedgedriver.exe")

In [76]:
driver.get("https://www.flipkart.com/")

In [77]:
search_feild_designation=driver.find_element(By.CLASS_NAME,"_3704LK")
search_feild_designation.send_keys('iphone 11')

In [78]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [42]:
Rating = []
Review_summary = []
Full_review = []

rating = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
review = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
full_review = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")

#for page in range(0,3):
for i in rating:
    Rating.append(i.text)
for o in review:
    Review_summary.append(o.text)
for p in full_review:
    Full_review.append(p.text)    
    
df = pd.DataFrame({'Rating':rating,'Review_summary':review,'Full_review':full_review})

#df

Empty DataFrame
Columns: [Rating, Review_summary, Full_review]
Index: []

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [1]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [43]:
driver = webdriver.Edge(executable_path = "C:\\Users\\Rahul\\Documents\\edgedriver_win64\\msedgedriver.exe")

In [44]:
driver.get("https://www.flipkart.com/")

In [45]:
search_feild_designation=driver.find_element(By.CLASS_NAME,"_3704LK")
search_feild_designation.send_keys('sneakers')

In [46]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [49]:
Brand = []
Product_Description = []
Price = []

for i in range(3):
    
    
    brand = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    product_des = driver.find_elements(By.XPATH,"//div[@class='_2B099V']/a[1]")
    price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")


    for i in brand:
        Brand.append(i.text)
    for i in product_des:
        Product_Description.append(i.text)
    for i in price :
        Price.append(i.text)
    
time.sleep(3)

nxt_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
nxt_button.click()

In [50]:
print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [51]:
df = pd.DataFrame({'Brand':Brand,'Product_Description':Product_Description,'Price':Price})

df[0:100]

,Brand,Product_Description,Price
0,Layasa,Sneakers For Men,₹497
1,RapidBox,Sneakers For Men,₹590
2,BRUTON,Modern Trendy Shoes Sneakers For Men,₹470
3,Labbin,Sneakers For Men,₹499
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹259
...,...,...,...
95,Zavier,Sneakers For Men,₹599
96,Magnolia,Sneakers For Men,₹449
97,Deals4you,Sneakers For Women,₹389
98,World Wear Footwear,Latest Collection Black-349 Trendy & Stylish C...,₹289
99,PUMA,Court Star Vulc FS Sneakers For Men,"₹2,949"

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

In [13]:
driver = webdriver.Edge(executable_path = "C:\\Users\\Rahul\\Documents\\edgedriver_win64\\msedgedriver.exe")

In [14]:
driver.get("http://www.myntra.com/shoes")

In [18]:
color_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()
time.sleep(3)

In [20]:
price_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()
time.sleep(3)

In [41]:
Brand = []
Shoe_des = []
price = []

for i in range(2):
    
    brand = driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    shoe_des = driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    price = driver.find_elements(By.XPATH,"//div[@class='product-price']/span[1]")


    for i in brand : Brand.append(i.text)
    for i in shoe_des: Shoe_des.append(i.text)
    for i in price : price.append(i.text)
time.sleep(3)

next_page = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")

next_page.click()

AttributeError: 'str' object has no attribute 'text'

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image

In [68]:
driver = webdriver.Edge(executable_path = "C:\\Users\\Rahul\\Documents\\edgedriver_win64\\msedgedriver.exe")

In [69]:
driver.get("https://www.amazon.in/")

In [70]:
search_item = driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")
search_item.send_keys("laptop")

In [71]:
click_search_button = driver.find_element(By.XPATH,"//input[@id='nav-search-submit-button']")
click_search_button.click()

In [75]:
inte_core7=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[5]/li[11]/span/a")
intel_core7.click()

AttributeError: 'list' object has no attribute 'click'

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [76]:
driver = webdriver.Edge(executable_path = "C:\\Users\\Rahul\\Documents\\edgedriver_win64\\msedgedriver.exe")

In [77]:
driver.get("http://www.ambitionbox.com/")

In [92]:
search=driver.find_elements(By.XPATH,"//a[@class='navItemLink']")
search.click()

AttributeError: 'list' object has no attribute 'click'